@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.back {
    background: url(../../img/components.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.hero {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: calc(49vh);
    right:calc(28vw);
}

.heading {
    position: relative;
    bottom: 50px;
    width: 900px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 130px;
    line-height: 115.7%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background-color: rgba(36, 31, 60, 0.36);
    backdrop-filter: blur(4px);
}

.sub-head {
    position: relative;
    bottom: 30px;
    /* width: 477.11px; */
    font-family: 'Alef', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 28%;
    text-align: center;
    color: #312A51;
}

.tags {
    position: relative;
    bottom: 0px;
    height: 38.57px;
    font-family: 'Alef';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 180%;
    color: rgba(55, 47, 90, 0.55);
}

.main-bottom {
    position: absolute;
    bottom: 20px;
    right:0px;
    height: 100px;
    width: 90vw;
    background: rgba(36, 31, 60, 0.8);
    backdrop-filter: blur(2.5px);
    box-shadow: 0px 4px 11px 6px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-bottom img{
    height: 70px;
}

main {

    /* Increase the height according to no of sections */
    height: 350vh;


    width: 100vw;
    /* display: flex;
    flex-direction: column;
    gap:50px;
    justify-content: space-between;
    gap:100px;
    align-items: center; */

    z-index: 1;
    margin-top: 0px;
    padding: 50px;
  
}

.container {

    /* Did not Increase the width too much that is starts covering nav */
    /* height: 80vh; */
    padding: 2rem 3rem;
    width: 85vw;
    border-radius: 20px;
    background: rgba(36, 31, 60, 0.8);
    backdrop-filter: blur(2.5px);
    box-shadow: 0px 4px 11px 6px rgba(0, 0, 0, 0.25);
    /* backdrop-filter: blur(4px); */
    margin: 100px auto;
    border: 4px solid pink;
}


/* UNIVERSAL CLASS */

.container_heading{
    color: white;
    font-size: 3.1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.sub-container{
    margin-top: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.margin-bottom{
    margin-bottom: 2rem;
}